## Q1. What is a database? Differentiate between SQL and NoSQL databases.

#### A database is an organized collection of data that store and manage the data in structured manner, efficient, as well as it manipulate the data and store the information and work as a storage.  It serves as a central repository for storing and managing various types of data, such as text, numbers, images, videos, and more.

### SQL:
#### SQL is a Structured Query Language databases are based on the relational model. They use a structured schema to define the organization of data and relationships between different entities. It generally used in MySQL as a Query Language, it helps to provide strucrure ti the data. SQL databases support transactions, allowing for multiple operations to be grouped together as a single unit of work. It also manipulate the data, and provide data integrity.

### NoSQL:
#### NoSQL (Not Only SQL) databases are designed to store and retrieve large volumes of unstructured or semi-structured data. They provide flexible schemas and focus on scalability and performance. It provide scalibility, prioritize performance and can handle high-speed data ingestion and retrieval. NoSQL databases typically do not support complex joins between multiple tables. NoSQL databases do not have a standardized query language like SQL. Each NoSQL database has its own query interface or API for data access and manipulation.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.


#### >>DDL stands for Data Definition Language. It is a command of SQL used to define and manage the structure of a database schema.

### CREATE: Used to create a new database object, such as a table, index, or view.
#### Eg: CREATE TABLE Employees (id INT, name VARCHAR(50), age INT);

### ALTER: Used to modify the structure of an existing database object.
#### Example: ALTER TABLE Employees ADD COLUMN salary INT;

### DROP: Used to delete an existing database object.
#### Example: DROP TABLE Employees;

### TRUNCATE: Used to remove all rows from a table, but keeps table structure as it is.
#### Example: TRUNCATE TABLE Employees;

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#### DML stands for Data Manipulation Language. It is a command of SQL used to manipulate and modify data within a database. It is used to insert, update, and delete data in database tables.

### INSERT: The INSERT statement is used to add new rows or records into a table.
#### Example: INSERT INTO Customers (CustomerID, FirstName, LastName) VALUES (1, 'ram', 'raj');

### UPDATE: The UPDATE statement is used to modify existing data in a table. It allows you to change the values of one or more columns in one or multiple rows.
#### UPDATE Customers SET LastName = 'ram' WHERE CustomerID = 1;

### DELETE: The DELETE statement is used to remove one or more rows from a table. It allows you to selectively delete specific records based on specified conditions.
#### Example: DELETE FROM Customers WHERE CustomerID = 1;

## Q4. What is DQL? Explain SELECT with an example.

### DQL stands for Data Query Language. It is a command of SQL used to retrieve and query data from a database. DQL statements are primarily focused on retrieving data from database tables rather than modifying or manipulating it.

#### Example: SELECT EmployeeID, FirstName, LastName, Salary FROM Employees WHERE Salary > 50000;

## Q5. Explain Primary Key and Foreign Key.

#### Primary Key: It is a column or a combination of columns that uniquely identifies each row in a database table. It serves as a unique identifier for each record, ensuring that there are no duplicate or null values in the key columns. 
#### Examples: In a table of "Employees," a primary key column "EmployeeID" can be used to uniquely identify each employee record.

#### A foreign key is a column or a combination of columns in a database table that establishes a link or relationship between two tables. It refers to the primary key column(s) in another table, creating a relationship between the two tables based on common values. 
#### Examples: In a table of "Orders," a foreign key column "CustomerID" can reference the primary key "CustomerID" in the "Customers" table, establishing a relationship between orders and customers. In a table of "Enrollments," a composite foreign key consisting of "StudentID" and "CourseID" can reference the primary key of the "Students" and "Courses" tables, establishing a many-to-many relationship.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
"""
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()
"""

#### cursor()--> It is used to create a cursor object. A cursor allows you to execute SQL queries and fetch results from the database. The cursor acts as a handle or pointer that helps you navigate and manipulate the data in the database.

#### execute()--> is used to execute SQL statements or queries through the cursor object. It takes the SQL statement as a parameter and executes it on the connected database.

## Q7. Give the order of execution of SQL clauses in an SQL query.

### The oder of execution of SQL clauses in an SQL query in the following way:-
####FROM: Specifies the table(s) from which to retrieve the data.

####JOIN: If there are multiple tables involved in the query and they need to be joined, the join conditions are applied. The tables are combined based on the specified join criteria.

####WHERE: Filters the rows based on specified conditions. Only the rows that satisfy the conditions in the WHERE clause are included in the result set.

GROUP BY: Groups the rows based on specified columns. This is typically used in combination with aggregate functions like COUNT, SUM, AVG, etc.

HAVING: Filters the groups created by the GROUP BY clause based on specified conditions. Only the groups that satisfy the conditions in the HAVING clause are included in the result set.

SELECT: Specifies the columns to be included in the result set. This is where calculations, transformations, and selection of specific columns occur.

DISTINCT: Removes duplicate rows from the result set.

ORDER BY: Sorts the result set based on specified columns and sort order.

LIMIT/OFFSET